.suggestions {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ddd;
    background-color: #fff;
    position: absolute;
    z-index: 1000;
    width: calc(100% - 22px); /* Ajuste para el padding del input */
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.table th, .table td {
    text-align: center;
}

.btn-activar {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-desactivar {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-activar:hover, .btn-desactivar:hover {
    opacity: 0.8;
}

.position-relative {
    position: relative;
}
