/* Estilos personalizados para el navbar */
.custom-navbar {
    background-color: #343a40; /* Color de fondo personalizado */
    color: white; /* Color del texto */
    height: 60px; /* Altura del navbar */
    padding: 0; /* Eliminar el padding */
}

.custom-navbar .navbar-brand {
    color: #ffcc00; /* Color de la marca */
    font-size: 1.2rem; /* Tamaño de la fuente de la marca */
    padding-left: 15px; /* Padding izquierdo para la marca */
}

.custom-navbar .navbar-brand:hover {
    color: #ffffff; /* Color de la marca al pasar el ratón */
}

.custom-navbar .nav-link {
    color: #ffcc00; /* Color de los enlaces de navegación */
    padding: 0 15px; /* Padding para los enlaces */
    line-height: 60px; /* Centrar verticalmente los enlaces */
}

.custom-navbar .nav-link:hover {
    color: #ffffff; /* Color de los enlaces al pasar el ratón */
}

.custom-navbar .navbar-toggler {
    border-color: #ffcc00; /* Color del borde del botón de hamburguesa */
}

.custom-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba%28255, 204, 0, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Estilos para otros elementos de la página */
.container-fluid {
    position: relative;
    height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 2;
    color: white;
    padding: 20px;
}

.buttons .button {
    width: 200px;
    padding: 10px;
    text-align: center;
    margin: 10px 0;
    background-color: #ffcc00;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

.buttons .button:hover {
    background-color: #ffffff;
    color: #ffcc00;
}

.contact {
    margin-top: 20px;
}

.contact .phone {
    font-size: 1.5em;
}

.website {
    margin-top: 10px;
}
