/* Estilo para el body */
body {
    background-color: #d8e9ff; /* Fondo del body */
}

/* Estilo para el banner superior */
.top-banner {
    background-color: rgb(0, 132, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
}

/* Estilo del header con el logo y el buscador */
.header {
    background-color: #1719ac;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    margin-left: 20px;
}

.header .search-bar {
    flex-grow: 1;
    margin: 0 20px;
}

.header .icons {
    margin-right: 20px;
}

.header .icons a {
    color: rgb(255, 255, 255);
    margin-left: 15px;
}

/* Estilo del menú */
.menu {
    background-color: #132067;
    padding: 10px 0;
}

.menu a {
    color: rgb(234, 235, 241);
    margin: 0 15px;
}

.menu a:hover {
    text-decoration: underline;
}

/* Estilo del navbar */
.navbar {
    background-color: #1719ac; /* Fondo del segundo nav */
    font-weight: bold; /* Negrita */
}

/* Estilo de los enlaces del navbar */
.navbar-nav .nav-link {
    padding: 15px 20px; /* Espaciado alrededor de los enlaces */
    color: #ffffff; /* Color del texto */
    font-weight: bold; /* Negrita */
    transition: color 0.3s ease; /* Transición suave */
}

.navbar-nav .nav-link:hover {
    color: rgb(255, 94, 0); /* Color del texto al pasar el mouse */
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

.navbar-nav .nav-link.active {
    color: rgb(255, 94, 0); /* Color activo */
    border-bottom: 2px solid rgb(255, 94, 0); /* Línea debajo del enlace activo */
}

/* Estilo del carrusel */
.carousel-item img {
    width: 100%;
    height: 600px; /* Ajustar el alto si es necesario */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
}

/* Estilos para la barra de controles del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo para el control del carrusel */
}

/* Estilo del botón flotante de WhatsApp */
.whatsapp-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #25D366;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-bubble img {
    width: 40px;
    height: 40px;
}

.whatsapp-bubble:hover {
    background-color: #128C7E;
}

/* Footer */
.footer {
    background-color: #f2f5f8;
    padding: 20px;
    text-align: center;
}

/* Estilo para los códigos QR */
.qr-code {
    width: 100px; /* Tamaño del código QR */
    margin-top: 10px;
}

.image-container {
    width: 100%; /* O cualquier tamaño fijo que desees, por ejemplo: 300px */
    height: 200px; /* Establece la altura deseada */
    overflow: hidden; /* Oculta cualquier parte de la imagen que sobrepase el contenedor */
    display: flex; /* Usamos flexbox para centrar la imagen */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.image-container img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Cubre todo el contenedor sin distorsionar la imagen */
}

/* Estilos para los resultados de búsqueda */
#search-results {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
}

.search-result-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.search-result-item:last-child {
    border-bottom: none;
}

.boton {
    display: inline-block;
    padding: 5px 10px;
    font-size: 8px;
    color: white;
    background-color: #003772;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.boton:hover {
    background-color: #0056b3;
}
